@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Press+Start+2P&family=Prompt:wght@600&display=swap');

html, body, #root, .main {
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

:root {
    --border-color: rgb(230,217,185);
    --backdrop-color: rgb(31,61,12);
    --darker-green: rgb(1,40,1);
    --text-color: rgb(160, 82, 45);
    --alt-background: rgb(151,120,25);
    --lavender: rgb(90,84,121);
}

.main {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* RUST MAIN */

.rust-main {
    height: 100%;
    width: 100%;
    position: relative;

    background-image: url('./art/trash.png');
    background-position-x: -200px;
    background-position-y: -200px;
    background-size: 1800px;
    background-repeat: no-repeat;

    user-select: none;
    overflow: hidden;
}

.rust-nav {
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 50%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: fit-content;
    height: fit-content;
    padding: 2rem;
    box-shadow: -2px 2px 3px 1px rgb(0 0 0 / 30%);
    background: darkred;

    font-family: prompt;
}

.nav-element {
    text-decoration: none;
    margin: 1rem;
    padding: 1rem;
    color: white;
    cursor: pointer;
}

.nav-element:hover {
    background-color: rgb(65, 65, 65, 0.5);
    border-radius: 3px;
}

.nav-element.active {
    background-color: rgb(65, 65, 65);
    border-radius: 3px;
}

.cb, .cb-mobile {
    background-color: #fff;
    border: 2px solid black;    
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: black;
    display: flex;
    align-items: center; 
    justify-content: center;

    font-family: prompt;
    margin: 1rem;
    text-decoration: none;
    cursor: default;
}
.cb-mobile {
    display: none;
}

.popup-content {
    position: absolute;
    top: 2rem;
    right: 2rem;

    height: 400px;
    width: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: prompt;
    background-color: rgba(255, 255, 255, .7);

    overflow: hidden;
}

.popup-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup-links a, .popup-links p {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
}
.popup-links a:hover, .popup-links p:hover {
    color: darkred;
    cursor: pointer;
}

.popup-photo {
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

}
.photo-content img {
    height: 100%;
    width: 100%;
}

.terminal-popup {
    z-index: 1;
    font-family: 'Press Start 2P';
    font-size: .7rem;

    position: absolute;
    bottom: 3rem;
    left: 3rem;

    width: 30rem;
    height: 60%;
    
    display: flex;
    flex-direction: column;

    border-radius: 5px;
    overflow: hidden;
    
    box-shadow: -2px 2px 3px 1px rgb(0 0 0 / 40%);
    background-color: rgb(0, 0, 0, 1);
    color: white;
}
.terminal-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background: rgb(59, 59, 59);
    padding: .3rem .3rem;
    width: 100%;
}
.terminal-close {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: none;
    background: red;
    color: transparent;
    text-align: center;
}
.terminal-close:hover {
    filter: grayscale(.2);
}
.terminal-content {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.terminal-tag {
    margin: 1rem 0;
}
.terminal-about, .lyrics {
    padding: 1rem;
}

.song-title, .lyrics {
    position: relative;
}
.redacted::after {
    display: block;
    position: absolute;
    top: 0;
    content: "[redacted]";
    z-index: 1;
    background: white;
    color: black;
}
.song-title:hover, .about-bio:hover {
    background: white;
    color: black;
}
.lyrics {
    position: relative;
}
.lyrics-redacted::after {
    position: absolute;
    top: 0;
    display: none;
    content: '[redacted]';
    z-index: 2;
    width: 100%;
    height: 100%;
}
.lyrics-redacted:hover:after {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}

.cohort-b {
    position: relative;
    top: .5rem;
    left: 1rem;
    font-family: prompt;
}

/* IPHONE X */
@media only screen 
  and (min-device-width: 280px) 
  and (max-device-width: 1024px) { 

    .cohort-b {
        display: none;
    }

    .rust-main {
        background-position-x: 0;
        background-position-y: 110%;
        background-size: 500px;
        background-repeat: no-repeat;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rust-nav {
        bottom: 0;
        top: unset;
        right: unset;
        width: 100%;
        padding: unset;

        padding: 1rem 0;
    }

    .cb {
        display: none;
    }
    .cb-mobile {
        display: flex;
        position: absolute;
        top: 0;
        width: 3rem;
        height: 3rem;
    }

    .popup-content {
        /* position: unset; */
        top: 5rem;
        right: unset;
        height: 400px;
        width: 400px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: prompt;
        background-color: rgba(255, 255, 255, .7);
    }

    .terminal-popup {
        position: absolute;
        top: 5rem;
        left: unset;
        right: unset;
        bottom: unset;

        width: 98%;
        height: 70%;
    }
}

.off {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(255,255,255,.4); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(37, 37, 37);
    border-radius: 5px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkred; 
}