@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Press+Start+2P&family=Prompt:wght@600&display=swap');

html, body, #root, .main {
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

:root {
    --border-color: rgb(230,217,185);
    --backdrop-color: rgb(31,61,12);
    --darker-green: rgb(1,40,1);
    --text-color: rgb(160, 82, 45);
    --alt-background: rgb(151,120,25);
    --lavender: rgb(90,84,121);
}

.main {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* MINIMAL */

.gif-main {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.gif-main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    filter: brightness(40%) saturate(300%);
}

.min-nav {
    position: absolute;
    bottom: 0;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,.5), rgba(0,0,0,1));
    color: white;
    z-index: 1;
}
.nav-logo {
    margin: 0 0 0 2rem;
}
.nav-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin: 0 2rem 0 0;
}

/* HOMEPAGE */

.homepage-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darker-green);
    font-size: 16px;
    position: relative;
    overflow: hidden;

    background-image: url(./art/neg_trees.jpg);
}

.hidden-input {
    position: absolute;
    top: 1rem;
    left: 1rem;

    opacity: 0;
    transition: opacity 750ms ease;
    cursor: default;
    border: none;

    background: transparent;
    font-size: 1.5rem;
    color: transparent;
}
.hidden-input:focus {
    outline: none;
}
.hidden-input::placeholder {
    color: var(--text-color);
}
.homepage-container:hover .hidden-input {
    opacity: 1;
    transition: opacity 4s ease;
}

.audio-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: .7;
}
.audio-container img {
    max-height: 1rem;
    max-width: 1rem;
}

.off {
    display: none;
}

.dropdown-top {
    position: absolute;
    height: 95%;
    width: 90%;
    top: -100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
    transition: top 300ms linear;

    border: 1px solid var(--border-color);
    border-top: none;
    color: var(--text-color);
    background-color: var(--darker-green);
    border-radius: 0 0 15px 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.modal-on {
    top: 0px;
    transition: top 400ms linear;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);

    height: 90%;
    width: 90%;
    border: 1px dashed var(--border-color);

    position: relative;
}
.photo-square .photo {
    max-width: 100%;
    max-height: 100%;
}
.photo-square .photo:hover {
    transform: scale(1.03);
    filter: blur(1px);
}

.close-modal-btn, .open-modal-btn {
    text-align: center;
    width: 4rem;
    height: 2rem;
    border: 1px solid var(--border-color);
    background-color: var(--darker-green);
    color: var(--text-color);
    border-radius: 5px;
    transition: all 200ms ease;
}
.close-modal-btn:hover, .open-modal-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: var(--darker-green);
    color: var(--text-color);
    transition: all 200ms ease;
}

.open-modal-btn, .open-modal-btn:hover {
    background-color: transparent;
}

.dropdown-right {
    position: absolute;
    right: -50%;
    max-height: 100vh;
    width: 35%;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    border-left: 1px solid var(--border-color);
    background-color: var(--darker-green);
    z-index: 3;
    transition: right 400ms ease;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    color: var(--text-color);
}
.shop-on {
    right: 0;
    transition: right 400ms linear;
}

.shop {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px dashed var(--border-color);
    overflow: scroll;
    background-color: var(--lavender);
}

.shop-item {
    font-size: 24px;
    min-height: 300px;
    width: 300px;
    background-color: var(--darker-green);
    color: var(--text-color);
    border: dotted 1px var(--border-color);
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shop-item:hover {
    transform: scale(1.05);
}

.panel-container {
    height: 80%;
    width: 100%;
    padding: 0 10%;
    position: relative;
    z-index: 1;
}

.homepage-container:hover .band-name-container {
    opacity: 0;
    z-index: -1;
    transition: z-index 200ms step-end, opacity 300ms ease;
}

.band-name-container {
    position: absolute;
    z-index: 5;
    font-family: impact;
    font-size: 10rem;
    color: var(--text-color);
    /* text-shadow: 0 0 100px forestgreen; */
    height: 100%;
    width: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s ease;
}

sup {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 2rem;
}

.panels {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.panel {
    height: 100%;
    width: 20rem;
    margin: 5px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    /* background-color: var(--darker-green); */

    background: linear-gradient(-50deg, var(--lavender), var(--darker-green), 
        var(--text-color));
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;

    font-family: sans-serif;
    color: var(--text-color);
    position: relative;
    opacity: 0;
    transition: all 500ms ease;
}

.panel:hover {
    transform: scale(1.05);
    transition: 500ms ease;
}

.panel-content {
    background: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    }

.panel-title, .panel-body {
    margin-left: 5px;
}

.panel-title {
    position: absolute;
    bottom: 0;
    left: 30%;
    margin-bottom: 5px;
    font-size: 2.5rem;
    -webkit-font-smoothing: antialiased;
    opacity: 0;
    transition: opacity 300ms ease;
}

.homepage-container:hover .panel-title {
    opacity: 1;
    transition: opacity 750ms ease;
}

.homepage-container:hover .panel {
    opacity: 1;
    transition: opacity 1.5s ease;
}

.panel:hover .panel-title {
    left: 0;
    bottom: 70%;
    transition: left 1s ease, 
        bottom 700ms ease 1s;
}

.panel-body {
    color: var(--text-color);
    opacity: 0;
    position: absolute;
    bottom: 10px;
    }

.panel:hover .panel-body {
    opacity: 1;
    bottom: 30%;
    transition: bottom 1s ease 1s,
        opacity 1s ease 1.5s;
}

.photo-big {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* RUST MAIN */

.rust-main {
    height: 100%;
    width: 100%;
    position: relative;

    background-image: url('./art/trash.png');
    background-position-x: -200px;
    background-position-y: -200px;
    background-size: 1800px;
    background-repeat: no-repeat;

    user-select: none;
}

.rust-nav {
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 50%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: fit-content;
    height: fit-content;
    padding: 2rem;
    box-shadow: -2px 2px 3px 1px rgb(0 0 0 / 30%);
    background: darkred;

    font-family: prompt;
}

.nav-element {
    text-decoration: none;
    margin: 1rem;
    padding: 1rem;
    color: white;
    cursor: pointer;
}

.nav-element:hover {
    background-color: rgb(65, 65, 65, 0.5);
    border-radius: 3px;
}

.nav-element.active {
    background-color: rgb(65, 65, 65);
    border-radius: 3px;
}

.cb, .cb-mobile {
    background-color: #fff;
    border: 2px solid black;    
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: black;
    display: flex;
    align-items: center; 
    justify-content: center;

    font-family: prompt;
    margin: 1rem;
    text-decoration: none;
    cursor: default;
}
.cb-mobile {
    display: none;
}

.popup-content {
    position: absolute;
    top: 2rem;
    right: 2rem;

    /* border: 1px solid black; */
    height: 400px;
    width: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: prompt;
    background-color: rgba(255, 255, 255, .7);

    overflow: hidden;
}

.popup-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup-links a, .popup-links p {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
}
.popup-links a:hover, .popup-links p:hover {
    color: darkred;
    cursor: pointer;
}

.popup-photo {
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

}
.photo-content img {
    height: 100%;
    width: 100%;
}

.terminal-popup {
    z-index: 1;
    font-family: 'Press Start 2P';
    font-size: .7rem;

    position: absolute;
    bottom: 3rem;
    left: 3rem;

    width: 30rem;
    height: 60%;
    
    display: flex;
    flex-direction: column;

    border-radius: 5px;
    overflow: hidden;
    
    box-shadow: -2px 2px 3px 1px rgb(0 0 0 / 40%);
    background-color: rgb(0, 0, 0, 1);
    color: white;
}
.terminal-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background: rgb(59, 59, 59);
    padding: .3rem .3rem;
    width: 100%;
}
.terminal-close {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: none;
    background: red;
    color: transparent;
    text-align: center;
}
.terminal-close:hover {
    filter: grayscale(.2);
}
.terminal-content {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.terminal-about, .lyrics {
    padding: 1rem;
}

.song-title, .lyrics {
    position: relative;
}
.redacted::after {
    display: block;
    position: absolute;
    top: 0;
    content: "[redacted]";
    z-index: 1;
    background: white;
    color: black;
}
.song-title:hover, .about-bio:hover {
    background: white;
    color: black;
}
.lyrics {
    position: relative;
}
.lyrics-redacted::after {
    position: absolute;
    top: 0;
    display: none;
    content: '[redacted]';
    z-index: 2;
    width: 100%;
    height: 100%;
}
.lyrics-redacted:hover:after {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}

.cohort-b {
    position: relative;
    top: .5rem;
    left: 1rem;
    font-family: prompt;
}

/* IPHONE X */
@media only screen 
  and (min-device-width: 280px) 
  and (max-device-width: 1024px) { 

    .cohort-b {
        display: none;
    }

    .rust-main {
        background-position-x: 0;
        background-position-y: 110%;
        background-size: 500px;
        background-repeat: no-repeat;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rust-nav {
        bottom: 0;
        top: unset;
        right: unset;
        width: 100%;
        padding: unset;

        padding: 1rem 0;
    }

    .cb {
        display: none;
    }
    .cb-mobile {
        display: flex;
        position: absolute;
        top: 0;
        width: 3rem;
        height: 3rem;
    }

    .popup-content {
        /* position: unset; */
        top: 5rem;
        right: unset;
        height: 400px;
        width: 400px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: prompt;
        background-color: rgba(255, 255, 255, .7);
    }

    .terminal-popup {
        position: absolute;
        top: 5rem;
        left: unset;
        right: unset;
        bottom: unset;

        width: 98%;
        height: 70%;
    }
}


.off {
    display: none;
}